/* ПОДКЛЮЧЕНИЕ ШРИФТОВ*/

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
         url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
         url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
         url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*---------------*/

/* ОБНУЛЕНИЕ */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}


html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

/*------------------------*/

 h1 {
 	font-family: 'Stalinist One';
 	font-size: 60px;
 	font-weight: 400;
 	color: #FFA500;
 	text-shadow: 5px 2px 3px #000; 
 	text-align: center;
 }

li {
	text-align: center;
}

a {
	font-weight: 700;
	line-height: 40px;
	font-size: 25px;
	text-transform: capitalize;
	letter-spacing: 1px;
	color: #000;
}

.title {
	font-weight: 700;
	font-size: 30px;
	text-decoration: underline;
	color: rgb(139, 0, 0);
	line-height: 100px;
}
.text {
	font-style: italic;
	font-size: 19px;
	line-height: 25px;
	text-align: left;
	word-spacing: 0px;
	text-shadow: 1px 0px 0px #000;
}


.title_2 {
	line-height: 100px;
	font-weight: 700;
	font-size: 29px;
	text-align: lefte;
	color: #008080;
	text-decoration: underline;
}
.text_2 {
	text-align: left;
	font-size: 20px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px #F0E68C;
	font-weight: 700;
}

span {
	text-decoration: line-through;
	font-size: 25px;
	color: #ff0000;
}

.footer {
	background: #BDB76B;
}

.footer_title {
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
}

.footer span {
	text-decoration: none;
	font-weight: 700;
	color: #FF8C00;
	text-shadow: -1px -1px 2px #000; 
}

.footer_text {
	text-align: center;
}